{% load dajaxice_templatetags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}DinamicTables{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dynamictables.css">
    {% block extra_css %}{% endblock %}
    
    <link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.23.custom.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/i18n/jquery-ui-i18n.js" ></script>
    <!--script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js" ></script-->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" ></script>
    <script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js"></script>

    {% block extra_js %}
        {% dajaxice_js_import %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/dynamictables.js" ></script>
    {% endblock %}
    <script>
        var dynamicTables = new DynamicTables();
    </script>
</head>
<body onload="">
    <div id="current_edit" hidden="true"></div>
    <div id="datepicker_holder"><input id='datepicker' type='text' /></div>
    <div id="main">{% block main %}
        <div class="panel ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" id="left_panel">
        {% for table in tables %}
            <h2><a id="{{ table.id }}" href="#" onclick="dynamicTables.activateTable($(this));">{{ table }}</a></h2>
            {% if forloop.first %}
            {% endif %}
            <script>dynamicTables.pushTableId({{ table.id }});</script>
        {% empty %}
        <p>There are currently no tables! Add one below.</p>
        {% endfor %}
        </div>
        <div class="panel ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" id="right_panel">
        </div>
        <br clear="all">
    {% endblock %}</div>
    {% block form %}{% endblock %}
    <script>
        $(function(){
            $.datepicker.setDefaults(
                    $.extend($.datepicker.regional["ru"])
            );
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                onSelect: function( selectedDate ) {
                    $("#datepicker").selectedDate = selectedDate;
                    alert("main: "+selectedDate);
                }
            });
            $('#datepicker').blur(function (e) {
                dynamicTables.validate_editor();
                });
            /*$('#datepicker').datepicker("widget").mouseenter(function(){
                $('#datepicker').yyy = true;
            });
            $('#datepicker').datepicker("widget").mouseleave(function(){
                $('#datepicker').yyy = true;
            });
            $('#datepicker').datepicker("widget").live('click', function(){
                alert('111');
                $('#datepicker').yyy = false;
                dynamicTables.validate_editor();
            });*/
        });
        dynamicTables.tablePanel = right_panel;
        dynamicTables.activateFirstTable();
    </script>
</body>
